<!DOCTYPE html>
<html>
  <head>
    <title>NBA Scraper</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body >

    <div class="header">
      <h1 class="header-title">NBA Scraper</h1>
      <p class="header-desctiption">Simple app to scrap NBA data</p>
    </div>

    <div class="container">
      <%if @error %>
        <div class="alert alert-error"><%=@error%></div>
      <% end %>
        <%= yield %>
    </div>
  </body>
</html>
