<div class="row search">
  <div class="col-md-4">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="">Enter search terms</label>
        <input type="search" class="form-control" name="player_name" placeholder="Enter NBA player name">
      </div>
      <button type="submit" id="s" class="btn btn-default">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </form>
  </div>
</div>